.bigPaymentbox{
    display: flex;
    width: 100%;
}
.bigPaymentbox>div{
    /* border: 1px solid black; */
    justify-content: space-between;
    gap: 2%;
}
.leftPayment{
    width: 40%;
    padding: 0px 5%;
}
.rightPayment{
    background-color: #F6F6F6;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 60%;
}
.rightbtns button{
    background-color: #EEEEEE;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    height: 36px;
    border-radius: 20px;
    width: 52px;
    border: transparent;
}
.rightPayment>div{
    padding: 20px 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.rightPayment>div{
    margin-top: -20px;
}
#pabtn1{
    background-color: rgba(0, 0, 0, 0.548);
    width: 70%;
    margin:40px 15% 10px;
    font-size: 20px;
    color: white;
    padding: 20px 0px;
    border: transparent;
}
#pabtn1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.payprod{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

